@import "tailwindcss";

@theme {
	--color-primary: #00b2ca;
	--color-secondary: #ffa500;
	--color-secondary-variation: #ffa50060;
	--color-tertiary: #f8f9fa;
	--color-tertiary-2: #d2d2d2;
	--color-tertiary-3: #808080;

	--animate-loading: loading 0.7s linear infinite;

	@keyframes loading {
		0% {
			background-position: 200%;
		}
	}
}
